@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rokaf-sans-medium";
  src: url('/fonts/ROKAF Sans Medium.ttf')
}

:root {
}

body {
    font-family: "rokaf-sans-medium";
    background: #F8FAFC;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #d4d4d8;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background: #525255;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    width: 5px;
    height: 5px;
    background: #525255;
}