@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rokaf-sans-medium";
  src: url('/fonts/ROKAF Sans Medium.ttf')
}

@font-face {
  font-family: "rokaf-sans-bold";
  src: url('/fonts/ROKAF Sans Bold.ttf')
}

@font-face {
  font-family: "rokaf-slab-medium";
  src: url('/fonts/ROKAF Slab Medium.ttf')
}

@font-face {
  font-family: "rokaf-slab-bold";
  src: url('/fonts/ROKAF Slab Bold.ttf')
}

@layer base {
  html {
    font-family: "rokaf-sans-medium";
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
