@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rokaf-sans-medium";
  src: url('/fonts/ROKAF Sans Medium.ttf')
}

:root {
}

body {
    font-family: "rokaf-sans-medium";
}
